.joinUs{
    height: 400px;
    background-image: url(../images/join.png);
   background-repeat: no-repeat;
   background-size: cover;
   .container{
    height: 100%;
}
}
.blue-div{
    position: absolute;
    background-color: $main_color;
    left: 100%;
    top: 0;
    height: 100%;
    width: 195px;
}
html[dir="ltr"]{
    .joinUs{
       direction: rtl;
    }
    .join-content{
        direction: ltr;
    }
    .joinUs{
        overflow: hidden;
    }

}
.joinUs-sec{
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  
}
.join-content{
    padding: 40px 0 40px 40px;
    min-height: 212px;
    background-color: $main_color;
    max-width: 50%;
    position: relative;
    &::after{
        content: "";
        position: absolute;
        width: 80px;
        top: 0;
       right: 100%;
        height: 100%;
        background-color: rgba(22, 105, 123, 0.4);
    }
    &::before{
        content: "";
        position: absolute;
        width: 40px;
        top: 0;
       right: 100%;
        height: 100%;
        background-color: rgba(22, 105, 123, 0.702);
    }
}
.qualified-text{
    font-size: 18px;
    color: #ffffff;
    font-weight: 300;
    margin-bottom: 10px;
}
.getJob-text{
    font-size: 30px;
    color: #ffffff;
    margin-bottom: 25px;
    text-transform: uppercase;
    font-weight: 600;
}
.join-btn{
padding: 9px 40.2px;
display: inline-block;
border-radius: 21px;
background-color: $yellow-color;
font-size: 16px;
color: #ffffff;
transition: all linear .2s;
font-weight: 600;
&:hover{
    background-color: #fff;
    color: $main_color;
}
}



@include max-1200{
    .getJob-text{
        font-size: 25px;
    }
}

@include max-992{
    .getJob-text{
        font-size: 22px;
    }
    .join-btn{
        padding: 9px 35px;
    }
    .join-content{
        padding :40px 0 40px 30px ;
    }
}

@include max-768{
    .join-btn:hover{
        background-color: $yellow-color;
        color: #fff;
    }
    .join-content::after , .join-content::before{
        display: none;
    }
    .join-content{
        max-width: none;
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: transparent;
    }
    .blue-div{
        display: none;
    }
    .getJob-text{
        font-size: 18px;
        line-height: 1.6;
    }
    .joinUs-sec{
        padding: 10px 0;
        min-height: auto;
    }
    .joinUs{
        height: auto;
    }
}

