.services{
    padding: 100px 0;
}
.services-items{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 40px 30px;
}
.service-item{
    &:hover{
        a{
            color: $main-color;
        }
        .img-holder{
            border-color: $yellow-color;
        }
    }
    text-align: center;
    .ancor-btn{
        font-size: 16px;
        color: #000;
        font-weight: 400;
        text-align: center;
        transition: all linear .2s;
    }
    .img-holder{
        padding: 50px 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 261px;
        height: 261px;
        border-radius: 15px;
        background-color: #ffffff;
        border:  2px solid #ebebeb;
        transition: all linear .2s;
        margin-bottom: 15px;
    }
}

.services{
    .nav{
        justify-content: center;
        margin-bottom: 30px;
    }
    .nav-pills .nav-link{
        padding: 10.5px 27px;
        border-radius: 22px;
        background-color: #ebebeb;
        font-size: 16px;
        color: #999999;
        margin-inline-end: 10px ;
        font-weight: 600;
    }
    .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
        background-color: $main-color;
        color: #fff;
    }
}


@include max-1200 {
    .services-items{
        grid-template-columns: repeat(3 , 1fr);
        gap: 30px;
    }
    .service-item .img-holder{
       width: 100%;
    }
}

@include max-992 {
    .services-items{
        grid-template-columns: repeat(3 , 1fr);
        gap: 40px 30px;
    }
    .service-item .img-holder{
        padding: unset;
    }
    html[dir="ltr"]{
        .services .nav-pills .nav-item{
            margin-bottom: 15px;
        }
    }
}


@include max-768 {
 
    .services-items{
        grid-template-columns: repeat(2 , 1fr);
        gap: 30px 20px;
    }
    .service-item .img-holder{
        padding: unset;
    }
.services .nav-pills .nav-link {
    padding: 10px 22px;
    font-size: 15px;
}
.services .nav-pills .nav-item{
    margin-bottom: 15px;
}

.services .nav{
    margin-bottom: 20px;
}
.service-item .ancor-btn{
    font-size: 15px;
}
.services{
    padding: 50px 0 70px 0;
}
}



@media screen and (max-width :450px) {
    .services .nav-pills .nav-link {
        padding: 10px 12px;
        font-size: 14px;
    }
}
