@font-face {
  font-family: 'ITC';
  src: url('../fonts/ITCHandelGothicArabicW23-Bd.woff2') format('woff2'),
      url('../fonts/ITCHandelGothicArabicW23-Bd.woff') format('woff'),
      url('../fonts/ITCHandelGothicArabicW23-Bd.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ITC';
  src: url('../fonts/ITCHandelGothicArabicW23-Lt.woff2') format('woff2'),
      url('../fonts/ITCHandelGothicArabicW23-Lt.woff') format('woff'),
      url('../fonts/ITCHandelGothicArabicW23-Lt.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ITC';
  src: url('../fonts/ITCHandelGothicArabicW23-Rg.woff2') format('woff2'),
      url('../fonts/ITCHandelGothicArabicW23-Rg.woff') format('woff'),
      url('../fonts/ITCHandelGothicArabicW23-Rg.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'VEXA';
  src: url('../fonts/VEXAthinR.woff2') format('woff2'),
      url('../fonts/VEXAthinR.woff') format('woff'),
      url('../fonts/VEXAthinR.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'VEXA';
  src: url('../fonts/VEXA.woff2') format('woff2'),
      url('../fonts/VEXA.woff') format('woff'),
      url('../fonts/VEXA.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


